@import './../../app/mixins.scss';

.header {
    align-items: flex-start;
    justify-content: space-between;
    height: fit-content;
    display: none;
    position: relative;
    @include breakpoint(s) {
        display: flex;
        margin-top: 105px!important;
    }
    @include breakpoint(m){
        margin-top: 0!important;
    }

    .logo {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        margin-top: auto;
        text-decoration: none;
        @include breakpoint(s) {
            max-width: 50%;
        }
        @include breakpoint(m) {
            max-width: 33%;
        }
        &_image {
            font-size: 0;
        }

        &_description {
            font-family: Manrope;
            color: var(--black);
            text-decoration: none;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
            max-width: 50%;
            margin-bottom: 16px;
            margin-left: 50px;
        }
    }

    .yandex {
        display: flex;
        align-items: center;

        @include breakpoint(s) {
            position: absolute;
            left: calc(50% - 90px);
            top: -105px;
        }
        @include breakpoint(m){
            position: static;
        }
        &_flag {
            font-size: 0;
        }
    }

    .yandexLinks {
        margin-left: 8px;
        padding: 12px;
        border-radius: 12px;
        background: #F6F6F6;
        backdrop-filter: blur(2px);

        &_stars {
            display: flex;
            align-items: flex-start;

            >.Star {
                margin-left: 6px;

                path {
                    transition: .2s ease;
                }

                &:hover {
                    path {
                        fill: var(--bordo)
                    }
                }
            }

        }

        &_text {
            color: #858585;
            font-family: Manrope;
            font-size: 7.639px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }

    }

    .phone {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        margin-top: auto;
        width: 100%;
        margin-bottom: 16px;
        @include breakpoint(s) {
            max-width: 50%;
        }
        @include breakpoint(m) {
            max-width: 25%;
        }
        &_phoneNumber {
            color: var(--black);
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-decoration: none;
        }

        &_description {
            color: var(--black);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-align: end;
        }
    }
}

.stickyHeader {
    position: sticky;
    top: 16px;
    z-index: 999;
    padding: 0px 8px;
    display: none;

    @include breakpoint(s) {
        display: block;
    }

    .navigation {
        margin-top: 20px;
        width: 100%;
        background-color: var(--bordo);
        border-radius: 6px;

        @include breakpoint(s) {
            border-radius: 12px;
            padding: 20px 50px;
        }
    }

    .list {
        width: fit-content;
        margin: 0 auto;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;

        &_element {
            padding: 3px 40px;
            position: relative;
            display: flex;
            gap: 10px;

            &_link {
                text-decoration: none;
                color: #FFF;
                font-family: Manrope;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                cursor: pointer;
            }

            .dropdown {
                transform-origin: 0 0;
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 30px;
                left: 40px;
                transform: scaleY(0);
                transition: transform .2s ease;
                min-width: 240px;
                background-color: var(--white);
                border-radius: 16px;
                border: 1px solid #F5F5F5;
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.1), 0px 4px 4px 0px rgba(0, 0, 0, 0.09), 0px 9px 5px 0px rgba(0, 0, 0, 0.05), 0px 16px 6px 0px rgba(0, 0, 0, 0.01), 0px 25px 7px 0px rgba(0, 0, 0, 0);

                &List {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;

                    &_element {
                        padding: 12px 20px;

                        &:not(:last-of-type) {
                            border-bottom: 1px solid #F5F5F5;
                        }

                        &_link {
                            color: #00111A;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 20px;
                            text-decoration: none;
                            transition: color .2s ease, font-weight .4s ease;
                            width: 100%;
                            display: block;

                            &:hover {
                                color: var(--bordo);
                                font-weight: 700;
                            }
                        }
                    }
                }
            }

            &:hover {
                .dropdown {
                    transform: scaleY(1);
                }
            }
        }
    }
}

.mobileHeader {
    position: sticky;
    background-color: var(--bordo);
    display: flex;
    margin: 0 auto;
    width: calc(100% - 16px);
    border-radius: 6px;
    padding: 18px 22px;
    top: 8px;
    z-index: 5;

    &_upper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .burgerButton {
            background-color: transparent;
            margin: 0;
            padding: 0;
            border: none;
            outline: none;
            display: flex;
            flex-direction: column;
            gap: 6px;
            cursor: pointer;

            &>div {
                background-color: var(--white);
                border-radius: 10px;
                width: 25px;
                height: 3px;
                transition: .2s ease;
            }
        }
    }

    &_burgerContent {
        position: absolute;
        border-radius: 16px;
        border: 1px solid #F1F1F1;
        background: #FFF;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.10), 0px 12px 12px 0px rgba(0, 0, 0, 0.09), 0px 26px 16px 0px rgba(0, 0, 0, 0.05), 0px 47px 19px 0px rgba(0, 0, 0, 0.01), 0px 73px 20px 0px rgba(0, 0, 0, 0.00);
        width: 100%;
        left: 0;
        top: 60px;
        transform-origin: 0 0;
        transition: .2s ease;
        transform: scaleY(0);

        ul,
        li,
        a {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }

        .list_element {
            padding: 12px 20px;
            margin: 0 auto;
            min-width: 200px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;

            a,
            p {
                color: #00111A;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                text-decoration: none;
                /* 142.857% */
            }
        }

        .dropdown {
            padding: 0 20px;
            transform-origin: 0 0;
            transform: scaleY(0);
            transition: all .2s ease;
            opacity: 0;
            height: 0;

            &List {
                display: flex;
                flex-direction: column;

                &_element {
                    padding: 12px 20px;

                    a,
                    p {
                        color: #00111A;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;
                        text-decoration: none;
                        /* 142.857% */
                    }
                }
            }
        }
    }

    .openCategory~.dropdown {
        height: 100%;
        transform: scaleY(1);
        opacity: 1;

    }

    @include breakpoint(s) {
        display: none;
    }
}

.Opened {
    background-color: var(--white);

    .Title {
        path {
            fill: var(--bordo);
        }
    }

    .burgerButton>div {
        background-color: var(--bordo);
    }

    .mobileHeader_burgerContent {
        transform: scaleY(1);
    }
}