@import "@/app/mixins.scss";
.Reviews {
    margin-top: 118px;

    .title {
        color: #000;
        font-family: Manrope;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0 auto;
        text-align: center;
    }

    .description {
        color: #000;
        text-align: center;
        font-family: Manrope;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 30px;

        strong {
            color: var(--bordo, #9B2D30);
            font-family: Manrope;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }

    .slider {
        margin-top: 60px;
        position: relative;

        .swiper {
            margin-top: 50px;

            &_slide {
                .text {
                    padding: 24px 18px ;
                    border-radius: 12px;
                    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.1), 0px 4px 4px 0px rgba(0, 0, 0, 0.09), 0px 9px 5px 0px rgba(0, 0, 0, 0.05), 0px 16px 6px 0px rgba(0, 0, 0, 0.01), 0px 25px 7px 0px rgba(0, 0, 0, 0);
                    color: #000;
                    font-family: Manrope;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    /* 24px */
                    @include breakpoint(l){
                        padding: 40px 60px;
                        margin: 0 20px;
                    }
                }

                .persona {
                    width: fit-content;
                    display: flex;
                    flex-direction: column;
                    margin: 0 auto;
                    justify-content: center;
                    align-items: center;
                    margin-top: 40px;

                    .name {
                        color: #000;
                        text-align: center;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                    .photo {
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                    }
                }
            }
        }

    }

    .quote {
        position: absolute;
        z-index: 2;
        width: fit-content;

        svg {
            width: 65px;
            height: 55px;

            @include breakpoint(l) {
                width: 83px;
                height: 70px;
            }
        }
    }

    .left {
        left: 0;
        top: -15px;
        @include breakpoint(l) {
            top: -20px;
            left: 0;
        }
    }

    .right {
        bottom: 90px;
        right: 0;
        @include breakpoint(l) {
            right: 0;
            bottom: 80px;
        }
    }
}