@import "@/app/mixins.scss";

.BannerAbout {
    position: relative;
    overflow: hidden;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    @include breakpoint(m){
        background-color: unset;
    }
    .banner {
        background-color: #F5F5F5;
        position: relative;
        overflow-x: hidden;
        overflow-y: clip;
        padding: 60px 0 0px;
        @include breakpoint(m){
            margin-top: 154px;
            padding: 60px 0 92px;
        }
    }

    .container {
        position: relative;
        z-index: 1;

        .title {
            h3 {
                margin: 0;
                color: #000;
                font-family: Manrope;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;

                @include breakpoint(m) {
                    font-size: 32px;
                    font-weight: 700;
                }

                strong {
                    color: var(--bordo, #9B2D30);
                    text-transform: uppercase;
                }
            }
        }

        .text {
            margin-top: 31px;

            @include breakpoint(m) {
                max-width: 45vw;
            }

            p {
                color: #000;
                font-family: Manrope;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                @include breakpoint(m) {
                    color: #000;
                    font-family: Manrope;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin-top: 1em;
                }
            }
        }
    }

    .Image {
        position: relative;
        bottom: -50px;
        height: 100%;
        z-index: 0;
        user-select: none;
        right: 170px;
        min-height: 378px;
        width: 200%;
        @include breakpoint(m) {
            position: absolute;
            height: unset;
            bottom: 50px;
            width: 50vw;
            right: -50px;
        }
        @include breakpoint(l){
            width: 40vw;
            height: 100%;
            bottom: -70px;
            min-height: unset;

        }
        img {
            object-fit: contain;
        }
    }

    .scrollButton {
        cursor: pointer;
        background-color: transparent;
        border: 10px solid white;
        border-radius: 50%;
        position: absolute;
        left: calc(50% - 70px);
        padding: 0;
        display: none;
        margin: 0;
        bottom: -35px;
        transition: .2s ease;
        width: 90px;
        height: 90px;
        @include breakpoint(m){
            bottom: 0; 
            display: block;
        }
        &:hover {
            bottom: -5px;
        }
    }
}