.Steps {
    &_title {
        color: #000;
        font-family: Manrope;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
        margin: 0 auto;
    }

    &_subtitle {
        color: #000;
        text-align: center;
        font-family: Manrope;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 30px;
    }

    &_step {
        max-width: 50%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: end;
    }

    &_content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 60px;
        .number {
            text-align: center;
            font-family: Manrope;
            font-size: 112px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            background: var(--bordo-gradient, linear-gradient(269deg, #9B2D30 -43.81%, #FA2D32 130.17%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            user-select: none;
            max-width: 40%;
        }

        .title {
            color: #000;
            font-family: Manrope;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            overflow: hidden;
            text-overflow: ellpsis;
            white-space: nowrap;
            float: left;
            width: 60%;
            white-space: pre-wrap;
            display: block;
            padding-bottom: 20px;
            padding-left: 35px;
        }

        .subtitle {
            color: #000;
            font-family: Manrope;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            span {
                color: #000;
                font-family: Manrope;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
    }
}