@import "@/app/mixins.scss";

.Steps {
    margin-top: 150px;

    &_title {
        color: #000;
        font-family: Manrope;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        @include breakpoint(m) {

            color: #000;
            font-family: Manrope;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-align: center;
            margin: 0 auto;
        }
    }

    &_subtitle {
        color: #000;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 30px;

        @include breakpoint(m) {
            color: #000;
            font-family: Manrope;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-align: center;
        }

    }

    &_step {

        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: end;
        margin-top: 40px;

        @include breakpoint(m) {
            max-width: 50%;
        }
    }

    &_content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 60px;
        flex-direction: column;

        @include breakpoint(m) {
            flex-direction: row;
        }

        .number {
            text-align: center;
            font-family: Manrope;
            font-size: clamp(64px, 5vw, 112px);
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            background: var(--bordo-gradient, linear-gradient(269deg, #9B2D30 -43.81%, #FA2D32 130.17%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            user-select: none;
            max-width: 40%;
        }

        .title {
            color: #000;
            font-family: Manrope;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            overflow: hidden;
            text-overflow: ellpsis;
            white-space: nowrap;
            float: left;
            width: 60%;
            white-space: pre-wrap;
            display: block;
            padding-bottom: 10px;
            padding-left: 35px;

            @include breakpoint(m) {
                padding-bottom: 20px;
            }

        }

        .subtitle {
            color: #000;
            font-family: Manrope;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            span {
                color: #000;
                font-family: Manrope;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
    }
}