@import "@/app/mixins.scss";

.Form {
    margin-top: 100px;

    .Title {
        color: #000;
        text-align: center;
        font-family: Manrope;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        @include breakpoint(m) {
            font-size: 32px;
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include breakpoint(m) {
            max-width: 60%;
        }
    }

    .policy {
        color: var(--minor-text, #AAABAB);
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-top: 15px;
        margin-left: 10px;
        font-size: 12px;
        @include breakpoint(s){
            font-size: 17.292px;
        }
        a {
            color: var(--minor-text, #AAABAB);
            margin-left: 5px;
            text-decoration-line: underline;
        }
    }

    &_content {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        @include breakpoint(m) {
            flex-direction: row;

            &_description {
                max-width: 30%;
            }
        }

        .Description {
            &_text {
                color: #000;
                text-align: center;
                font-family: Manrope;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;

                @include breakpoint(m) {
                    color: #000;
                    font-family: Manrope;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;

                }

                span>span {
                    color: #000;
                    font-family: Manrope;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                    @include breakpoint(m) {

                        color: #000;
                        font-family: Manrope;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }

            &_chart {
                display: flex;
                align-items: center;
                margin-top: 30px;
                justify-content: flex-start;
                span {
                    color: #000;
                    font-family: Manrope;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin-left: 20px;
                }
            }
        }

        .Fields {
            display: inline-flex;
            padding: 13px;
            gap: 35px;
            flex-direction: column;
            justify-content: center;
            border-radius: 24px;
            background: linear-gradient(0deg, #FFF 0%, #FFF 100%), linear-gradient(179deg, rgba(255, 255, 255, 0.69) 0.78%, rgba(242, 242, 242, 0.69) 102.39%), #EEE;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.11);
            width: 100%;
            align-items: center;
            @include breakpoint(m) {
                align-items: flex-start;
                gap: 48px;
                padding: 60px 46.001px 60px 47.594px;

            }
            form{
                width: 100%;
            }
            .button {
                border-radius: 16px;
                padding: 24px 64px;
            }

            &_category {
                &_title {
                    color: #490202;
                    font-family: Manrope;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }

                &_plates {
                    display: flex;
                    flex-wrap: wrap;
                    margin: 24px 0 0;
                    gap: 8px;

                    .plate {
                        padding: 9px;
                        color: rgba(73, 2, 2, 0.30);
                        text-align: center;
                        font-family: Manrope;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        border-radius: 8px;
                        border: 2px solid rgba(73, 2, 2, 0.30);
                        transition: .2s ease;
                        cursor: pointer;

                        @include breakpoint(m) {
                            color: rgba(73, 2, 2, 0.30);
                            font-size: 20px;
                            font-weight: 500;
                            padding: 16px 40px;

                        }

                        &_active {
                            color: #fff;
                            border: 2px solid var(--bordo, #9B2D30);
                            background: var(--bordo, #9B2D30);
                        }

                        &:hover {
                            color: #fff;
                            border: 2px solid #CC3F44;
                            background-color: #CC3F44;
                        }
                    }

                    .more {
                        order: 1
                    }
                }

                &_fields {
                    display: flex;
                    flex-direction: column;
                    margin: 63px 0 48px;

                    input,
                    textarea {
                        border: none;
                        border-bottom: rgba(73, 2, 2, 0.30) 3px solid;
                        width: 100%;
                        resize: none;

                        color: #BDA8A8;
                        font-family: Manrope;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;

                        padding: 15px 0;

                        margin-bottom: 20px;
                        outline: none;

                        @include breakpoint(m) {
                            height: 60px;
                            font-size: 20px;
                        }

                        &:not(:placeholder-shown),
                        &:focus {
                            color: #9B2D30;
                            border-bottom: #9B2D30 3px solid;
                        }
                    }
                }

            }
        }
    }
}