@import "@/app/mixins.scss";

.PortfolioSlider {
    margin-top: 190px;
    max-width: 100vw;
    overflow-x: hidden;

    &_title {
        color: #000;
        text-align: center;
        font-family: Manrope;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0;

        @include breakpoint(s) {
            font-size: 32px;
        }
    }

    &_subtitle {
        color: #000;
        text-align: center;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 30px;

        @include breakpoint(s) {

            font-size: 32px;
        }
    }

    &_swiper {
        margin-top: 98px;
    }

    .swiper {
        display: flex;
        align-items: center;
        position: relative;
        overflow: unset;
        // min-height: 750px;
        flex-direction: column;

        &_slide {
            display: flex;
            border-radius: 24px;
            align-items: center;
            flex-direction: column;
            transform-origin: 0 0;
            transform: scale(0.7);
            transition: transform .5s ease, opacity .7s ease;
            opacity: 0.5;
            position: relative;
            z-index: 1;
            @include breakpoint(m) {
                max-height: 750px;
                flex-direction: row;

                &::after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-radius: 24px;
                    background: linear-gradient(180deg, #FFF 0%, #FFF 100%);
                    box-shadow: 0px 1px 11px 0px rgba(0, 0, 0, 0.25);
                    position: absolute;
                    bottom: 24px;
                    right: -24px;
                    z-index: -9999999999;
                }
            }

            &_image {
                overflow: hidden;
                position: relative;
                height: 100%;
                width: 100%;
                min-height: 360px;
                border-radius: 24px 24px 0px 0px;

                @include breakpoint(s) {
                    min-height: 680px;
                }

                @include breakpoint(m) {
                    width: 45%;
                    border-radius: 24px 0 0 24px;
                    min-height: unset;
                    min-height: 750px;
                    height: 100%;
                }
            }

        }

        &_content {
            background: linear-gradient(180deg, #F7F7F9 100%, #E4E5E6 0%);
            height: 100%;
            max-width: 100%;
            width: 100%;
            padding: 20px 24px;

            @include breakpoint(m) {
                padding: 20px 40px;
                width: 55%;
                border-radius: 0 24px 24px 0;
                min-height: unset;
                min-height: 750px;
            }

            &_title {
                color: #000;
                font-family: Manrope;
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            &_location {
                display: flex;
                align-items: center;
                gap: 10px;
                color: #000;
                font-family: Manrope;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-top: 30px;
            }

            &_stats {
                margin-top: 60px;
                display: flex;
                gap: 70px;
                flex-wrap: wrap;

                &_stat {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    &_name {
                        color: #000;
                        font-family: Manrope;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                    &_plate {
                        border-radius: 12px;
                        background: var(--bordo, #9B2D30);
                        color: #FFF;
                        font-family: Manrope;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        width: fit-content;
                        padding: 10px;
                    }
                }

            }
        }
    }

    .Text {
        &_title {
            color: #000;
            font-family: Manrope;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin: 0;
            margin-top: 60px;
        }

        ul {
            overflow-y: auto;
            padding-left: 20px;
            margin-top: 24px;

            @include breakpoint(m) {
                max-height: 88px;

            }

            li {
                color: #000;
                font-family: Manrope;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }

    .button {
        margin-top: 45px;
        width: 100%;
        border-radius: 24px;
        text-decoration: none;
        text-align: center;
        display: flex;
        justify-content: center;

        @include breakpoint(m) {
            padding: 24px 120px;
            width: fit-content;
            margin-bottom: 30px;
        }
    }

    .CategoryLink {
        color: #1A1A1A;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
        padding: 0 15%;
        margin-top: 30px;
        display: block;
        width: 100%;
        text-align: center;
        @include breakpoint(m){
            display: inline;
        }
    }

    .SwiperButtons {
        width: calc(100% + 70px);
        position: absolute;
        left: -35px;
        align-items: center;
        justify-content: space-between;
        z-index: 2;
        display: none;

        @include breakpoint(m) {
            display: flex;
            top: calc(50% - 35px);
        }

        &_Prev,
        &_Next {
            border-radius: 50%;
            background-color: #fff;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            cursor: pointer;
            transition: .2s ease;
            opacity: 0;
        }

        .active {
            opacity: 1;
        }
    }
}