@import "@/app/mixins.scss";

.CategoryItem {
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1)) drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1)) drop-shadow(0px 14px 14px rgba(0, 0, 0, 0.09)) drop-shadow(0px 32px 19px rgba(0, 0, 0, 0.05)) drop-shadow(0px 56px 23px rgba(0, 0, 0, 0.01)) drop-shadow(0px 88px 25px rgba(0, 0, 0, 0));
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 35px;
    padding: 276px 16px 16px;
    background: white;
    border-radius: 10px;

    @include breakpoint(m) {
        margin-top: 116px;
        padding: 340px 16px 16px;
        max-width: 48%;
    }

    .imageContainer {
        width: calc(100% - 64px);
        overflow: hidden;
        border-radius: 12px;
        position: absolute;
        max-height: 294px;
        top: -22px;
        left: 32px;
        height: fit-content;
        box-shadow: 100px 100px 1000px 100px rgba(0, 0, 0, 0.5) inset;

        @include breakpoint(m) {
            max-height: 400px;
            top: -80px;

        }

        &:hover img {
            transform: scale(1.05);
        }

        .title {
            position: absolute;
            bottom: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            color: #FFF;
            font-family: Manrope;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            z-index: 2;
        }

        img {
            transition: all .2s ease;
            width: 100%;
            height: 100%;
            min-height: 294px;
            object-fit: cover;
            position: relative;
            z-index: -1;
            @include breakpoint(m){
                min-height: 400px;

            }
        }
    }

    .button {
        width: 100%;
        max-width: 75%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }
}