@import "@/app/mixins.scss";

.ProductsList {
  padding: 30px 0;
}

.ProductList_content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.ProductList_content_item {
  width: 100%;
  @include breakpoint(s){
    width: calc(50% - 20px);

  }
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);

  img {
    transition: .2s linear transform;
    z-index: -1;
    
  }

  &:hover {
    img {
      transform: scale(1.05);
    }
  }

  .ProductList_content_link {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 100px 100px 1000px 100px rgba(0, 0, 0, 0.5) inset;
  }

  .ProductList_content_text {
    color: var(--white);
    text-decoration: unset;
    font-family: Manrope;
    position: absolute;
    bottom: 22px;
    left: 32px;
    font-size: 32px;
    font-weight: 700;

    .ProductList_content_image {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}