.BreadCrumbs{
  .cont_breadcumb {
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0 50px;
    .bread_el{
      color: var(--minor-text);
      text-decoration: unset;
      &:not(:last-child){
        &:after{
          content: "";
          border-bottom: 1px solid var(--minor-text);
          width: 32px;
          display: flex;
          position: relative;
          left: calc(100% + 9px);
          top: -10px;
        }
      }
    }
  }
}